{% assign localization=page.localization %}
{% assign seriesLocalization=include.series.localization[localization] %}

{% capture pre %}

{% if include.series.status == "finale" %}

{% if localization == "en-US" %}

<span class="series-link-status-icon-span">
    <i class="fa fa-fw fa-check" aria-hidden="true"></i>
</span>Finale

{% elsif localization == "zh-CN" %}

<span class="series-link-status-icon-span">
    <i class="fa fa-fw fa-check" aria-hidden="true"></i>
</span>已完结

{% endif %}

{% elsif include.series.status == "paused" %}

{% if localization == "en-US" %}

<span class="series-link-status-icon-span">
    <i class="fa fa-fw fa-pause" aria-hidden="true"></i>
</span>Update Paused

{% elsif localization == "zh-CN" %}

<span class="series-link-status-icon-span">
    <i class="fa fa-fw fa-pause" aria-hidden="true"></i>
</span>暂停更新

{% endif %}

{% elsif include.series.status == "updating" %}

{% if localization == "en-US" %}

<span class="series-link-status-icon-span">
    <i class="fa fa-fw fa-bolt" aria-hidden="true"></i>
</span>Updated -

{% elsif localization == "zh-CN" %}

<span class="series-link-status-icon-span">
    <i class="fa fa-fw fa-bolt" aria-hidden="true"></i>
</span>更新于 -

{% endif %}

{% assign latest-release-date=include.series.episodes[include.series.latest-episode].release-date %}
{% include localization/date.html
    date=latest-release-date
%}

{% endif %}

{% endcapture %}

{% if page.localization == "en-US" %}

{% capture detail-link %}
<a href="{{ include.href }}/{{ include.series.latest-episode }}">
    {{ include.series.episodes[include.series.latest-episode].localization.en-US.title }}
</a>
{% endcapture %}

{% assign 
    episode-text="Latest Updated Episode "
    | append: include.series.latest-episode
    | append: ": "
    | append: detail-link
%}

{% elsif page.localization == "zh-CN" %}

{% capture detail-link %}
<a href="{{ include.href }}/{{ include.series.latest-episode }}">
    {{ include.series.episodes[include.series.latest-episode].localization.zh-CN.title }}
</a>
{% endcapture %}

{% assign 
    episode-text="最新更新第 "
    | append: include.series.latest-episode
    | append: " 集 -"
    | append: detail-link
%}

{% endif %}