{% assign localization=page.localization %}

{% if include.dependency0 %}

{% include banner/dependencies/episode.html
    dependency0=include.dependency0
    dependency1=include.dependency1
    dependency2=include.dependency2
    dependency3=include.dependency3
    dependency4=include.dependency4
    dependency5=include.dependency5
    dependency6=include.dependency6
    dependency7=include.dependency7
    dependency8=include.dependency8
    dependency9=include.dependency9
%}

{% endif %}

{% include series/episode-title.html
    series=include.series
    episode-id=include.episode-id
%}

{% if page.localization == "en-US" %}

<h2>
    Bear
</h2>

{% elsif page.localization == "zh-CN" %}

<h2>
    熊吉
</h2>

{% endif %}

{% if page.localization == "en-US" %}

<p>
    This site contains transcripts for SudoTV series. If you want to bear with the series content, please visit:
</p>

{% elsif page.localization == "zh-CN" %}

<p>
    本站收录 SudoTV 剧集的文字记录。如果您想跟随剧集一起编程，请访问：
</p>

{% endif %}

{% assign href=
    "https://series.sudo.tv/"
    | append: include.series.name
    | append: "/"
    | append: include.episode-id
%}

{% if page.localization == "en-US" %}

{% assign title=
    include.series.localization[localization].title
    | append: " - Episode"
    | append: include.episode-id
    | append: " - SudoTV Series"
%}
{% assign description=
    "In SudoTV Series, view episode"
    | append: include.episode-id
    | append: " of "
    | append: include.series.localization[localization].title
%}

{% elsif page.localization == "zh-CN" %}

{% assign title=
    include.series.localization[localization].title
    | append: " - 第"
    | append: include.episode-id
    | append: "集 - SudoTV 剧集"
%}
{% assign description=
    "在 SudoTV 剧集中查看"
    | append: include.series.localization[localization].title
    | append: "的第"
    | append: include.episode-id
    | append: "集"
%}

{% endif %}

{% include navigation/absolute-link.html
    with-origin=true
    external=true
    href=href
    title=title
    description=description
%}

{% if page.localization == "en-US" %}

<h2>
    Transcript
</h2>

{% elsif page.localization == "zh-CN" %}

<h2>
    文字记录
</h2>

{% endif %}