{% if include.dependency0 %}

{% include banner/dependencies/series.html
    dependency0=include.dependency0
    dependency1=include.dependency1
    dependency2=include.dependency2
    dependency3=include.dependency3
    dependency4=include.dependency4
    dependency5=include.dependency5
    dependency6=include.dependency6
    dependency7=include.dependency7
    dependency8=include.dependency8
    dependency9=include.dependency9
%}

{% endif %}

{% include series/series-title.html
    series=include.series
%}

{% include series/series-redirection.html
    series=include.series
%}

{% if include.series.status == "finale" %}

{% elsif include.series.status == "paused" %}

{% include bear/series-episode-latest.html
    series=include.series
%}

{% elsif include.series.status == "updating" %}

{% include bear/series-episode-latest.html
    series=include.series
%}

{% endif %}

{% include bear/series-episode-list.html
    series=include.series
%}