<div class="input-full-width-outer">
    <div id="{{ include.id }}-input-label" class="input-full-width-label">
        {{ include.label }}
    </div>
    <div class="input-full-width-body">
        <input id="{{ include.id }}-input" class="input-full-width-input" type="text">
    </div>
</div>

<script>
    (() => {
        const input = document.getElementById('{{ include.id }}-input');
        const label = document.getElementById('{{ include.id }}-input-label');

        window.addEventListener("pageshow", () => {
            input.value = '';
        });

        const updateInputLabelStatus = (value) => {

            if (value.length > 0) {
                label.classList.add('input-full-width-label-editing');
            } else {
                label.classList.remove('input-full-width-label-editing');
            }
        };

        const updateInputLabelStatusEvent = (event) => {

            updateInputLabelStatus(event.target.value);
        };

        input.addEventListener('keyup', updateInputLabelStatusEvent);
        input.addEventListener('change', updateInputLabelStatusEvent);
    })();
</script>