{% assign localization=page.localization %}

{% if include.dependencies %}

<div class="site-banner">
    <div class="site-banner-text">
        <div>
            {% if page.localization == "en-US" %}

            To follow the practice of this episode, viewers should have already has knowledge or go through the
            following
            topics:

            {% elsif page.localization == "zh-CN" %}

            为了跟随本集进度，观看者需要先了解过或具备以下主题的知识：

            {% endif %}
        </div>
        <div>
            {% for dependency in include.dependencies %}

            {% include banner/dependencies/cross-site-resource-element.html
                dependency=dependency
            %}

            {% endfor %}
        </div>
    </div>
</div>

{% endif %}