{% assign localization=page.localization %}

{% if include.dependencies %}

<div class="site-banner">
    <div class="site-banner-text">
        <div>
            {% if page.localization == "en-US" %}

            This article assumes viewers have already had knowledge or go through the following topics:

            {% elsif page.localization == "zh-CN" %}

            本章节假定观看者已经了解过或具备以下主题的知识：

            {% endif %}
        </div>
        <div>
            {% for dependency in include.dependencies %}

            {% include banner/dependencies/resource-element.html
                dependency=dependency
            %}

            {% endfor %}
        </div>
    </div>
</div>

{% endif %}