<div class="navigation-core-link-outer">
    <div class="navigation-core-link-inner-text">
        <div class="navigation-core-link-title">
            <a href="{{ include.href }}" class="navigation-core-link-link">
                {{ include.title }}
            </a>
        </div>
        <div class="navigation-core-link-description">
            {{ include.description }}
        </div>
    </div>
    <div class="navigation-core-link-inner-icon">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
</div>