<div class="navigation-core-link-outer">
    <div class="navigation-core-link-inner-text">
        <div class="navigation-core-link-title">
            <a href="{{ include.href }}" class="navigation-core-link-link">
                {{ include.title }}
            </a>
        </div>
        <div class="navigation-core-link-description">
            {{ include.description }}
        </div>

        {% if include.extra %}

        <div class="navigation-core-link-description">
            {{ include.extra }}
        </div>

        {% endif %}

        {% if include.second-extra %}

        <div class="navigation-core-link-description">
            {{ include.second-extra }}
        </div>

        {% endif %}
    </div>
    <div class="navigation-core-link-inner-icon">
        <a href="{{ include.href }}">
            <i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i>
        </a>
    </div>
</div>