{% if include.with-origin %}

<a data-origin="{{ site.application_name }}" class="{{ include.class }}" href="{{ include.href }}">
    {{ include.text }}

    {% if include.external %}

    <span class="navigation-core-link-link-icon">
        <i class="fa fa-external-link" aria-hidden="true"></i>
    </span>

    {% endif %}
</a>

{% else %}

<a class="{{ include.class }}" href="{{ include.href }}">
    {{ include.text }}

    {% if include.external %}

    <span class="navigation-core-link-link-icon">
        <i class="fa fa-external-link" aria-hidden="true"></i>
    </span>

    {% endif %}
</a>

{% endif %}