{% assign localization=page.localization %}

{% if include.target-tag == "before" %}

{% assign target-tag=include.series.episodes[include.episode-id].git.before-tag %}

{% elsif include.target-tag == "after" %}

{% assign target-tag=include.series.episodes[include.episode-id].git.after-tag %}

{% endif %}

<p>
    {% if localization == "en-US" %}

    Before you commit and push your changes. You need to have your git tool configured and authenticated. If you haven't
    done so, visit <a data-origin="{{ site.application_name }}" href="https://resource.sudo.tv/topic/git">Git Topic</a>
    to learn more.

    {% elsif localization == "zh-CN" %}

    在您提交和推送您的更改之前。您需要把 Git 工具配置好并完成认证。如果您还没有准备好，请访问 <a data-origin="{{ site.application_name }}"
        href="https://resource.sudo.tv/topic/git">有关 Git 的主题</a> 来了解更多。

    {% endif %}
</p>

<p>
    {% if localization == "en-US" %}

    After you finish your practice task, you can share and submit your work to our community. To do so, you need to
    first commit and push your change to your fork repository of
    <em>{{ include.series.localization[localization].title }}</em> series. Under the workspace folder:

    {% elsif localization == "zh-CN" %}

    在完成了您的练习任务后，您可以将成品提交到社区以和其他人分享。首先，您需要将您的更改提交并推送到您 <em>{{ include.series.localization[localization].title }}</em>
    剧集的复刻仓库中。在工作文件夹中：

    {% endif %}
</p>

{% capture push-and-commit-text %}

git commit -a -m "complete practice task of episode {{ include.episode-id }}"
git push --set-upstream origin practice-episode-{{ include.episode-id }}

{% endcapture %}

{% include copyable/copyable-text-highlight.html
    no-dynamic-warning=true
    shell="any-terminal"
    language="shell"
    text=push-and-commit-text
%}

<p>
    {% if localization == "en-US" %}

    Once your code is pushed, you can view your work in your Github fork repository at
    <code>{{ include.series.fork-repository-url }}/tree/practice-episode-{{ include.episode-id }}</code>. Same, you will
    need to replace <code>&lt;YOUR-GITHUB-USERNAME></code> with your GitHub username.

    {% elsif localization == "zh-CN" %}

    当您推送代码后，您可以在您的 GitHub 复刻仓库中查看您的代码。地址为
    <code>{{ include.series.fork-repository-url }}/tree/practice-episode-{{ include.episode-id }}</code>。同样，您需要将地址中的
    <code>&lt;YOUR-GITHUB-USERNAME></code> 替换为您的 GitHub 用户名。

    {% endif %}
</p>

<p>
    {% if localization == "en-US" %}

    That's it! Now you can share your work with the community and discuss it with other viewers of this series. Go to
    this <a href="{{ include.series.episodes[include.episode-id].practice-discussion-url }}">
        Episode {{ include.episode-id }} Practice Task Sharing Conversation
    </a>
    to share your result and talk about others result. Also, we encourage you to check out the <a
        href="{{ include.series.discussion-url }}">
        {{ include.series.localization[localization].title }} Discussion Board
    </a> to talk about anything related to this series.

    {% elsif localization == "zh-CN" %}

    完成了！现在您可以将您的成品分享到社区，并与其他观众一起讨论。访问这个 <a
        href="{{ include.series.episodes[include.episode-id].practice-discussion-url }}">
        第 {{ include.episode-id }} 集练习任务分享贴
    </a> 与其他剧集观众一起分享和讨论。并且，我们欢迎您在 <a href="{{ include.series.discussion-url }}">
        {{ include.series.localization[localization].title }} 讨论区
    </a> 讨论任何有关本剧集的内容。

    {% endif %}
</p>