{% assign localization=page.localization %}

{% if include.target-tag == "before" %}

{% assign target-tag=include.series.episodes[include.episode-id].git.before-tag %}

{% elsif include.target-tag == "after" %}

{% assign target-tag=include.series.episodes[include.episode-id].git.after-tag %}

{% endif %}

<p>
    {% if localization == "en-US" %}

    If you have already cloned the workspace of
    <em>{{ include.series.localization[localization].title }}</em> series of your fork, and synced to get the fork
    updated. Under the workspace folder:

    {% elsif localization == "zh-CN" %}

    如果您已经克隆了您复刻的 <em>{{ include.series.localization[localization].title }}</em> 剧集的工作区，并已经完成了同步。在工作区文件夹下：

    {% endif %}
</p>

{% capture already-text %}

git checkout tags/{{ target-tag }}

{% endcapture %}

{% include copyable/copyable-text-highlight.html
    no-dynamic-warning=true
    shell="any-terminal"
    language="shell"
    text=already-text
%}

<p>
    {% if localization == "en-US" %}

    If you never clone any workspace of <em>{{ include.series.localization[localization].title }}</em> series.
    Under the folder that you want to clone the workspace:

    {% elsif localization == "zh-CN" %}

    如果您从未克隆过任何一个 <em>{{ include.series.localization[localization].title }}</em> 剧集的工作环境。在您想克隆工作环境的文件夹下：

    {% endif %}
</p>

{% capture new-text %}

git clone {{ include.series.fork-url.https }} --branch {{ target-tag }}

{% endcapture %}

{% if localization == "en-US" %}

{% assign replaces="YOUR-GITHUB-USERNAME:your GitHub username" %}

{% elsif localization == "zh-CN" %}

{% assign replaces="YOUR-GITHUB-USERNAME:您的 Github 用户名" %}

{% endif %}

{% include copyable/copyable-text-highlight.html
    replaces=replaces
    no-dynamic-warning=true
    shell="any-terminal"
    language="shell"
    text=new-text
%}