{% assign localization=page.localization %}

{% if include.series.original %}

{% if page.localization == "en-US" %}

<blockquote>
    A SudoTV Original Series
</blockquote>

{% elsif page.localization == "zh-CN" %}

<blockquote>
    SudoTV 原创剧集
</blockquote>

{% endif %}

{% endif %}

<div class="episode-title">
    <h1 class="episode-title-h1">
        {{ include.series.episodes[include.episode-id].localization[localization].title }}
    </h1>
    <span>
        {% if page.localization == "en-US" %}

        {{ include.series.localization[localization].title }} - Episode {{ include.episode-id }}

        {% elsif page.localization == "zh-CN" %}

        {{ include.series.localization[localization].title }} - 第 {{ include.episode-id }} 集

        {% endif %}
    </span>
</div>