{% assign localization=page.localization %}

{% if include.series.original %}

{% if page.localization == "en-US" %}

<blockquote class="series-title-blockquote">
    A SudoTV Original Series
</blockquote>

{% elsif page.localization == "zh-CN" %}

<blockquote class="series-title-blockquote">
    SudoTV 原创剧集
</blockquote>

{% endif %}

{% endif %}

<div class="episode-title">
    <h1 class="episode-title-h1">
        {{ include.series.episodes[include.episode-id].localization[localization].title }}
    </h1>
    <span>
        {% if include.prepare %}
        {% if page.localization == "en-US" %}

        <strong>Prepare Environment</strong>

        {% elsif page.localization == "zh-CN" %}

        <strong>准备环境</strong>

        {% endif %}
        {% endif %}

        {% if include.practice %}
        {% if page.localization == "en-US" %}

        <strong>Practice</strong>

        {% elsif page.localization == "zh-CN" %}

        <strong>练习</strong>

        {% endif %}
        {% endif %}

        {% if page.localization == "en-US" %}

        {{ include.series.localization[localization].title }} - Episode {{ include.episode-id }}

        {% elsif page.localization == "zh-CN" %}

        {{ include.series.localization[localization].title }} - 第 {{ include.episode-id }} 集

        {% endif %}
    </span>
</div>