{% assign localization=page.localization %}

<h2>
    {% if localization == "en-US" %}

    Hands-on

    {% elsif localization == "zh-CN" %}

    亲自上手

    {% endif %}
</h2>

<p>
    {% if localization == "en-US" %}

    If you have already cloned the work environment of
    <em>{{ include.series.localization[localization].title }}</em> series. Under the work environment folder:

    {% elsif localization == "zh-CN" %}

    如果您已经克隆了 <em>{{ include.series.localization[localization].title }}</em> 剧集的工作环境。在工作环境文件夹下：

    {% endif %}
</p>

<p>
    {% if localization == "en-US" %}

    If you never clone any work environment of <em>{{ include.series.localization[localization].title }}</em> series.
    Under the folder you want to clone the work environment:

    {% elsif localization == "zh-CN" %}

    如果您从未克隆过任何一个 <em>{{ include.series.localization[localization].title }}</em> 剧集的工作环境。在您想克隆工作环境的文件夹下

    {% endif %}
</p>