{% assign localization=page.localization %}

{% assign videos=include.series.episodes[include.episode-id].videos[localization] %}

{% assign video-size=videos | size %}

{% if video-size <= 0 %}

{% if localization == "en-US" %}

<i class="fa fa-times fa-fw" aria-hidden="true"></i>Video Currently Not Available

{% elsif localization == "zh-CN" %}

<i class="fa fa-times fa-fw" aria-hidden="true"></i>暂无视频

{% endif %}

{% elsif video-size == 1 %}

{% assign first-video=videos[0] %}

{% include series/play-link.html
    video=first-video
%}

{% else %}

{% assign first-video=videos[0] %}

{% include series/play-link.html
    video=first-video
%}

{% assign rest-video-size=video-size | minus: 1 %}

{% if localization == "en-US" %}

{% if rest-video-size == 1 %}

<em>and Other 1 Video Source</em>

{% else %}

<em>and Other {{ rest-video-size }} Video Sources</em>

{% endif %}

{% elsif localization == "zh-CN" %}

<em>以及其他 {{ rest-video-size }} 个视频源</em>

{% endif %}

{% endif %}