{% assign localization=page.localization %}

{% capture video-url %}
{% include series/video-link.html
    video=include.video
%}
{% endcapture %}
{%- assign video-url=video-url | strip -%}

{% capture video-url-text %}
{% include series/video-link-text.html
    video=include.video
%}
{% endcapture %}
{%- assign video-url-text=video-url-text | strip -%}

{% if localization == "en-US" %}

<a class="episode-link-extra-link" href="{{ video-url }}">
    <i class="fa fa-play fa-fw" aria-hidden="true"></i>{{ video-url-text }}
</a>

{% elsif localization == "zh-CN" %}

<a class="episode-link-extra-link" href="{{ video-url }}">
    <i class="fa fa-play fa-fw" aria-hidden="true"></i>{{ video-url-text }}
</a>

{% endif %}