.series-list-ul {

    list-style: none;
    padding: 0;
    margin: 0;
}

.series-link-status-icon-span {

    background-color: #4444BB;
    color: #FFFFFF;

    padding-left: 3px;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-right: 0px;
    margin-right: 4px;
}

.episode-title {

    margin-bottom: 15px;
}

.episode-title-h1 {

    margin-bottom: -8px;
}