{% if page.localization == "en-US" %}

Rarity:
{% case include.rarity %}
{% when "well-known" %} Well-known
{% when "uncommon" %} Uncommon
{% when "worthy" %} Worthy
{% when "rare" %} Rare
{% when "dazzle" %} Dazzle
{% when "sparkling" %} Sparkling
{% when "priceless" %} Priceless
{% when "special" %} Special
{% endcase %}

{% elsif page.localization == "zh-CN" %}

{% capture rarity-text %}
{% case include.rarity %}
{% when "well-known" %} 常见
{% when "uncommon" %} 少见
{% when "worthy" %} 宝贵
{% when "rare" %} 稀有
{% when "dazzle" %} 耀眼
{% when "sparkling" %} 亮闪闪
{% when "priceless" %} 价值连城
{% when "special" %} 特殊
{% endcase %}
{% endcapture %}

稀有度：{{ rarity-text | strip }}

{% endif %}