{%- assign localization=page.localization -%}

{%- if localization == "en-US" -%}

<h1>
    Stamp - <code class="stamp-h1-code">
        {{ include.stamp.localization[localization].label }}
    </code>
</h1>

{%- elsif localization == "zh-CN" -%}

<h1>
    贴纸 - <code class="stamp-h1-code">
        {{ include.stamp.localization[localization].label }}
    </code>
</h1>

{%- endif -%}

<blockquote class="code-large-font">
    {{ include.stamp.localization[localization].description }}
</blockquote>

{%- if localization == "en-US" -%}

<h2>
    Stamp Icon
</h2>

{%- elsif localization == "zh-CN" -%}

<h2>
    贴纸图标
</h2>

{%- endif -%}

<div class="stamp-icon-vertical">
    <div class="stamp-icon-border-outer">
        {%- include stamp/thumbnail/full.html
            display=true
            stamp=include.stamp
        -%}
    </div>
    <div>
        {%- include stamp/rarity-text.html
            rarity=include.stamp.rarity
        -%}
    </div>
</div>

{%- if include.stamp.properties -%}

{%- if localization == "en-US" -%}

<h2>
    Properties
</h2>

{%- elsif localization == "zh-CN" -%}

<h2>
    参数
</h2>

{%- endif -%}

<ul>
    {%- for property in include.stamp.properties -%}

    {%- assign propertyValue=property[1] -%}

    <li>
        {{ propertyValue.localization[localization].label }} -
        {{ propertyValue.localization[localization].description }}
    </li>

    {%- endfor -%}
</ul>

{%- endif -%}

{%- if localization == "en-US" -%}

<h2>
    More about this stamp
</h2>

{%- elsif localization == "zh-CN" -%}

<h2>
    关于本贴纸
</h2>

{%- endif -%}

{%- capture release-date-text -%}
{%- include localization/date.html
    date=include.stamp.release-date
-%}
{%- endcapture -%}

<ul>
    {%- if localization == "en-US" -%}

    <li>
        <strong>Release Date</strong>: {{ release-date-text | strip }}
    </li>
    <li>
        <strong>Icon Design Copyright</strong>: {{ include.stamp.copyright.icon-design }}
    </li>

    {% if include.stamp.copyright.materials %}

    {% for material-copyright in include.stamp.copyright.materials %}

    <li>
        <strong>{{ material-copyright.localization[localization].material }} Copyright</strong>:
        {{ material-copyright.localization[localization].credit }}
    </li>

    {% endfor %}

    {% endif %}

    {%- elsif localization == "zh-CN" -%}

    <li>
        <strong>发布时间</strong>：{{ release-date-text | strip }}
    </li>
    <li>
        <strong>徽标设计版权</strong>：{{ include.stamp.copyright.icon-design }}
    </li>

    {% if include.stamp.copyright.materials %}

    {% for material-copyright in include.stamp.copyright.materials %}

    <li>
        <strong>{{ material-copyright.localization[localization].material }}版权</strong>:
        {{ material-copyright.localization[localization].credit }}
    </li>

    {% endfor %}

    {% endif %}

    {%- endif -%}
</ul>

{%- if localization == "en-US" -%}

<h2>
    Umm... Where is it sold then?
</h2>

{%- elsif localization == "zh-CN" -%}

<h2>
    那么... 在哪里能买得到呢？
</h2>

{%- endif -%}

<blockquote class="code-large-font">
    {{ include.stamp.localization[localization].how-to-get }}
</blockquote>

{%- include stamp/method-text.html
    methods=include.stamp.methods
%}