{% assign localization=page.localization %}

{% if localization == "en-US" %}

<h1>
    Stamp - <code class="stamp-h1-code">
        {{ include.stamp.localization[localization].label }}
    </code>
</h1>

{% elsif localization == "zh-CN" %}

<h1>
    贴纸 - <code class="stamp-h1-code">
        {{ include.stamp.localization[localization].label }}
    </code>
</h1>

{% endif %}

<blockquote class="code-large-font">
    {{ include.stamp.localization[localization].description }}
</blockquote>

{% if localization == "en-US" %}

<h2>
    Stamp Icon
</h2>

{% elsif localization == "zh-CN" %}

<h2>
    贴纸图标
</h2>

{% endif %}

<div class="stamp-icon-vertical">
    <div class="stamp-icon-border-outer">
        {% include stamp/thumbnail/full.html
            display=true
            stamp=include.stamp
        %}
    </div>
    <div>
        {% include stamp/rarity-text.html
            rarity=include.stamp.rarity
        %}
    </div>
</div>

{% if localization == "en-US" %}

<h2>
    Umm... Where is it sold then?
</h2>

{% elsif localization == "zh-CN" %}

<h2>
    那么... 在哪里能买得到呢？
</h2>

{% endif %}

<blockquote class="code-large-font">
    {{ include.stamp.localization[localization].how-to-get }}
</blockquote>

<p class="p-no-margin">
    {% if localization == "en-US" %}

    Possible method of getting this stamp:

    {% elsif localization == "zh-CN" %}

    获得这个贴纸的方法：

    {% endif %}
</p>

<ul>
    {% for method in include.stamp.methods %}

    <li>
        {% case method %}

        {% when 'email' %}
        {% if localization == "en-US" %}
        Email <a href="mailto://stamp@sudo.tv">stamp@sudo.tv</a> to acquire this stamp
        {% elsif localization == "zh-CN" %}
        发送邮件到 <a href="mailto://stamp@sudo.tv">stamp@sudo.tv</a> 以获得这个贴纸
        {% endif %}

        {% when 'pull-request' %}
        {% if localization == "en-US" %}
        Submit a pull request to acquire this stamp
        {% elsif localization == "zh-CN" %}
        提交拉取请求以获得这个贴纸
        {% endif %}

        {% when 'special' %}
        {% if localization == "en-US" %}
        Assign to viewer by special event
        {% elsif localization == "zh-CN" %}
        通过特殊事件获得
        {% endif %}

        {% endcase %}
    </li>

    {% endfor %}
</ul>