<div id="conflict-language-banner" class="site-banner conflict-language-banner-outer-hidden">
    <div class="site-banner-text">
        <div id="conflict-language-banner-text"></div>
        <ul class="conflict-language-banner-ul">
            <li>
                <a id="conflict-language-banner-jump"></a>
            </li>
            <li>
                <a id="conflict-language-banner-remain"></a>
            </li>
        </ul>
    </div>
    <button id="conflict-language-banner-close" class="site-banner-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </button>
</div>