{% assign localization=page.localization %}

{% capture file-text %}

{% include_relative {{ include.file }} %}

{% endcapture %}

{% if file-text contains "://" or include.shell %}

<blockquote>
    <p>
        {% if include.shell %}

        {% if page.localization == "en-US" %}

        With {{ include.shell }}, run the following command.

        {% elsif page.localization == "zh-CN" %}

        使用 {{ include.shell }}，运行以下命令。

        {% endif %}

        {% endif %}

        {% if include.shell and file-text contains "://" %}

        <br>

        {% endif %}

        {% if include.shell %}

        {% if page.localization == "en-US" %}

        This code snippet contains and uses dynamic content. Please inspect any dynamic content before running to ensure
        safety. We take security seriously and have already verified its safety, but you should verify the security and
        contents of any script from the internet you are not familiar with.

        {% elsif page.localization == "zh-CN" %}

        此代码片段使用且包含了动态内容。请在运行前检查所有动态内容以保证安全。我们严肃的看待安全性并已经确认了它是安全的，但是你应该在运行之前检查任何你不熟悉的内容的安全性。

        {% endif %}

        {% endif %}
    </p>
</blockquote>

{% endif %}

<div class="copyable-code-container">
    {% include highlight.html
        language=include.language
        file=include.file   
    %}
    <button class="copyable-code-button">
    </button>
</div>