<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}

<body>
    <script src="/common/assets/js/language-common.js"></script>
    <script>
        const siteCommon = {
            applicationName: "{{ site.application_name }}",
        };
        const pageCommon = {
            language: "{{ page.localization }}",
        };
    </script>
    {%- include header.html -%}

    {% capture en-US %}
    {% include 404/en-US.html %}
    {% endcapture %}

    {% capture zh-CN %}
    {% include 404/zh-CN.html %}
    {% endcapture %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {%- include conflict-language/banner.html -%}
            <script>
                const originalContent = {
                    'en-US': `{{ en-US }}`,
                    'zh-CN': `{{ zh-CN }}`,
                };
            </script>
            <script src="/common/assets/js/language-404.js"></script>
            <script src="/common/assets/js/conflict-language.js"></script>
        </div>
    </main>
    <button id="go-to-top-button" class="go-to-top-button go-to-top-button-hidden" title="Go to top">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </button>
    <script src="/common/assets/js/code-blockquote.js"></script>
    <script src="/common/assets/js/code-highlight.js"></script>
    <script src="/common/assets/js/back-to-top.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>
        anchors.add();
    </script>
    <div id="404-footer-en-US" class="site-hidden">
        {%- include footer.html 
            localization="en-US"
        -%}
    </div>
    <div id="404-footer-zh-CN" class="site-hidden">
        {%- include footer.html 
            localization="zh-CN"
        -%}
    </div>

    <script src="/common/assets/js/language-footer.js"></script>
    <script src="/common/assets/js/redirect-footer.js"></script>
    <script src="/common/assets/js/language-404-footer.js"></script>
</body>

</html>