{% include series/episode-title.html
    practice=true
    series=include.series
    episode-id=include.episode-id
%}

<h2>
    {% if localization == "en-US" %}

    Prepare Initial Workspace

    {% elsif localization == "zh-CN" %}

    准备初始工作区

    {% endif %}
</h2>

{% include series/episode-clone.html
    target-tag="after"
    series=include.series
    episode-id=include.episode-id
%}

<h2>
    {% if localization == "en-US" %}

    Practice Task

    {% elsif localization == "zh-CN" %}

    练习任务

    {% endif %}
</h2>

{{ include.practice-task }}