{% assign localization=page.localization %}

{% if include.dependencies %}

<p>
    {% if page.localization == "en-US" %}

    To follow the progress of this episode, viewers should have already has knowledge or go through the following
    topics:

    {% elsif page.localization == "zh-CN" %}

    为了跟随本集进度，观看者需要先了解过或具备以下主题的知识：

    {% endif %}
</p>
<ul>
    {% for dependency in include.dependencies %}

    {% include banner/dependencies/cross-site.html
        dependency=dependency
    %}

    {% endfor %}
</ul>

{% endif %}